<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="automation">
        <classes>
            <class name="com.automation.framework.AutomationSuiteApplicationTests">
                <methods>
                    <include name="contextLoads"/>
                </methods>
            </class>
            <class name="com.automation.framework.module.crm.DashboardTest">
                <methods>
                    <include name="verifyPieChartLabels"/>
                </methods>
            </class>
            <class name="com.automation.framework.module.crm.OrangeCRMLoginTest">
                <methods>
                    <include name="verifyLoginPage"/>
                </methods>
            </class>
            <class name="com.automation.framework.module.google.GoogleSearchTest">
                <methods>
                    <include name="googleSearchTest"/>
                </methods>
            </class>
            <class name="com.automation.framework.module.google.GoogleSearchTest2">
                <methods>
                    <include name="googleSearchTest"/>
                </methods>
            </class>
            <class name="com.automation.framework.module.google.MultiBrowserTest">
                <methods>
                    <include name="browserTest"/>
                </methods>
            </class>
            <class name="com.automation.framework.module.opencart.DashboardTest">
                <methods>
                    <include name="verifyDashboard"/>
                </methods>
            </class>
            <class name="com.automation.framework.module.property.PropertyTest">
                <methods>
                    <include name="testPropertiesFile"/>
                </methods>
            </class>
            <class name="com.automation.framework.module.resource.ResourceTest">
                <methods>
                    <include name="csvResourceTest"/>
                    <include name="txtResourceTest"/>
                </methods>
            </class>
            <class name="com.automation.framework.module.visa.VisaRegistrationTest">
                <methods>
                    <include name="visaTest"/>
                </methods>
            </class>
            <class name="com.automation.framework.module.window.WindowSwitchTest">
                <methods>
                    <include name="switchTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>