<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" thread-count="3" parallel="classes">
    <test verbose="2" preserve-order="true" name="C:/code/automation-suite">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.automation.framework.core.module.crm.DashboardTest">
                <methods>
                    <include name="verifyPieChartLabels"/>
                </methods>
            </class>
            <class name="com.automation.framework.core.module.crm.OrangeCRMLoginTest">
                <methods>
                    <include name="verifyLoginPage"/>
                </methods>
            </class>
            <class name="com.automation.framework.core.module.google.GoogleSearchTest">
                <methods>
                    <include name="googleSearchTest"/>
                </methods>
            </class>
            <class name="com.automation.framework.core.module.google.GoogleSearchTest2">
                <methods>
                    <include name="googleSearchTest"/>
                </methods>
            </class>
            <class name="com.automation.framework.core.module.property.PropertyTest">
                <methods>
                    <include name="testPropertiesFile"/>
                </methods>
            </class>
            <class name="com.automation.framework.core.module.resource.ResourceTest">
                <methods>
                    <include name="csvResourceTest"/>
                    <include name="txtResourceTest"/>
                </methods>
            </class>
            <class name="com.automation.framework.core.module.window.WindowSwitchTest">
                <methods>
                    <include name="switchTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>