<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Web-App Suite" parallel="classes" thread-count="2">
    <test verbose="2" preserve-order="true" name="Automation Regression Suite" >
        <classes>
            <class name="com.automation.framework.gui.module.google.GoogleSearchTest"/>
            <class name="com.automation.framework.gui.module.saucedemo.SauceDemoLoginTest"/>
            <class name="com.automation.framework.gui.module.opencart.OpenCartDashboardTest"/>
            <class name="com.automation.framework.gui.module.window.WindowSwitchTest"/>
        </classes>
    </test>
</suite>

